.vscode/**
.vscode-test/**
.ads-test/**
out/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
.github
query-editor
!query-editor/build
online-resources/**
local-resources/**
node_modules